.user-info-mat-card {
    background-color: white;
    margin-top: 10px;
    height: 100%;
}

.image-container {
    text-align: center;
    margin-bottom: 10px;
    background: whitesmoke;
    padding-top: 10px;
}

.image-profile {
    border-radius: 70px;
    border: 5px solid white;
    box-shadow: 1px 2px 7px #647cf3;
}

.padding-bottom {
    padding-bottom: 10px;
}

.user-name {
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 22px;
}

.user-info-icon{
    color: #5a5a5a;
    height: 0px;
}

.btn-close{
    bottom: 10px;
    position: absolute;
    width: calc(100% - 30px);
}

.full-width{
    width: 100%;
}

.font-weight-500{
    font-weight: 500;
}

.bg-color-white-smoke{
    background-color: whitesmoke;
}